

<section class="col-md-10" style="padding:10vh 60vh;">
<!--   
  <form style="padding:5vh;"> -->


  <div class="form-group" style="padding:5vh;border: 3px solid #A9A9A9;display: block;height: 70vh;
  overflow: visible;">
  <h3>Login Form </h3>
    <label for="email"><b>UserName</b></label>
     
    <div class="input-group">
     
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input type="text" class="form-control" placeholder="Enter Email" name="email" [(ngModel)]="email">
    </div> 
    
<div class="form-group">
    <label for="password"><b>Password</b></label>
    <div class="input-group">
        <span class="input-group-addon"><small><i class="glyphicon glyphicon-lock" small></i></small></span>
    <input [type]="showPassword.checked ? 'text' : 'password'" class="form-control" placeholder="Enter Password" name="password" [(ngModel)]="password">
    </div>
</div>
  <div class="form-group">
    <md-checkbox #showPassword > Show Password </md-checkbox>

</div>
<div class="form-group">
    <button type="button" pButton class="form-control"  (click)="checkLogin(email,password)">Login</button>
</div>
    <input type="checkbox">Remember me

    
  
  <div class="form-group">
    <a href="http://localhost:4200/forget"><b>Forget Password</b></a>
  </div>
  <div>
        <p-growl [(value)]="msgs"></p-growl>
  </div>
</div>
<!-- </form> -->
</section>