<form>

  <h3>Login Form </h3>
  <div class="container">
    
    <label for="username"><b>UserName</b></label>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input type="text" placeholder="Enter Name" name="username">
    </div>

    <label for="password"><b>Password</b></label>
    <div class="input-group">
        <span class="input-group-addon"><small><i class="glyphicon glyphicon-lock" small></i></small></span>
    <input type="password" placeholder="Enter Password" name="password">
    </div>

    <button type="button">Login</button>
    <input type="checkbox">Remember me


  </div>

  <div class="container">

    <a href="#">forget password</a>

  </div>
</form>